In [ ]:
from google.colab import drive
drive.mount('/content/drive')
# MUST MOUNT GOOGLE DRIVE FIRST OR THE CODE WILL NOT RUN
# These are all L2 data products, may add L1 to fill holes

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import os
import xarray as xr
import pandas as pd
import re, time, random 

data = '''Date          pressure    temperature          density
9/12/2014 9:00     170            4.0                1028
9/12/2014 10:00    368            4.2                1028.5
9/12/2014 11:00    368            4.2                1028.5'''
da = [[i for i in re.split("[ ][ ]+", l)] for l in data.split("\n")]
df2 = pd.DataFrame(da[1:], columns=da[0])
data='''Date        pressure      temperature           density
9/12/2014 9:00  177.859887      4.574663842         1028.477
9/12/2014 9:01  214.3598333     4.397781667         1028.66
9/12/2014 9:55  264.5863333     4.208137222         1028.905
9/12/2014 10:01  314.3161111     4.1242              1029.143
9/12/2014 10:02  363.8005587     4.02983352          1029.377'''
#pd.read_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Profiler Mooring/CTD_CSVs/Q1_14_17_3min_Depth_Profiler_Mooring.csv', sep=",")

da = [[i for i in re.split("[ ][ ]+", l)] for l in data.split("\n")]
df1 = pd.DataFrame(da[1:], columns=da[0])

#df1 = pd.read_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Profiler Mooring/CTD_CSVs/Q1_14_17_3min_Depth_Profiler_Mooring.csv', sep=",")
#df2 = pd.read_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Profiler Mooring/', sep=",")

df1.index = pd.to_datetime(df1.Date, format="%d/%m/%Y %H:%M", utc=True)
df2.index = pd.to_datetime(df2.Date, format="%d/%m/%Y %H:%M", utc=True)
df3 = df1.join(df2.resample("1min").pad(), rsuffix="_hourly")
df3

                                      Date  ... density_hourly
Date                                        ...
2014-12-09 09:00:00+00:00   9/12/2014 9:00  ...           1028
2014-12-09 09:01:00+00:00   9/12/2014 9:01  ...           1028
2014-12-09 09:55:00+00:00   9/12/2014 9:55  ...           1028
2014-12-09 10:01:00+00:00  9/12/2014 10:01  ...         1028.5
2014-12-09 10:02:00+00:00  9/12/2014 10:02  ...         1028.5

[5 rows x 8 columns]

In [ ]:
pip install netCDF4

Collecting netCDF4
  Downloading https://files.pythonhosted.org/packages/09/39/3687b2ba762a709cd97e48dfaf3ae36a78ae603ec3d1487f767ad58a7b2e/netCDF4-1.5.4-cp36-cp36m-manylinux1_x86_64.whl (4.3MB)
     |████████████████████████████████| 4.3MB 2.8MB/s
Collecting cftime
  Downloading https://files.pythonhosted.org/packages/81/f4/31cb9b65f462ea960bd334c5466313cb7b8af792f272546b68b7868fccd4/cftime-1.2.1-cp36-cp36m-manylinux1_x86_64.whl (287kB)
     |████████████████████████████████| 296kB 24.7MB/s
Requirement already satisfied: numpy>=1.9 in /usr/local/lib/python3.6/dist-packages (from netCDF4) (1.18.5)
Installing collected packages: cftime, netCDF4
Successfully installed cftime-1.2.1 netCDF4-1.5.4

In [ ]:
#Conversion script

import os
import xarray as xr
import pandas as pd

os.chdir("/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/SMAP_Data") #change last directory
#Point it to a directory of choice
for file_name in os.listdir("/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/SMAP_Data"): #change last directory
  if file_name.endswith(".nc"):
  # For loop for .nc files in the directory
   ds = xr.open_dataset(file_name)
   ds.data_vars
   df = ds.to_dataframe()
   
   #convert to a dataframe
   df.to_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/SMAP_Data/{}.csv'.format(file_name.split('.')[0])) #change last directory
   #daily arvage script to convert NetCDF to csv files
   #need to change the directory every time

In [ ]:
#Special edited version above for profiler mooring data to have data for MLD
import os
import xarray as xr
import pandas as pd

os.chdir("/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Profiler Mooring/CTD") #change last directory
#Point it to a directory of choice
for file_name in os.listdir("/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Profiler Mooring/CTD"): #change last directory
  if file_name.endswith(".nc"):
  # For loop for .nc files in the directory
   ds = xr.open_dataset(file_name)
   ds.data_vars
   df = ds.to_dataframe()
   
df.resample('D').mean().to_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Profiler Mooring/CTD/{}.csv'.format(file_name.split('.')[0])) #change last directory
#T is minutely 15T is every 15 mins D daily avaraging

In [ ]:
#combine script

import glob

os.chdir("/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/SMAP_Data") #change last directory
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/SMAP_Data/SMAP_Data.csv", index=False) #change last directory
#script that combines csv files to one file

In [ ]:
#print variables to final data base
import os
import pandas as pd
#RUN THIS AFTER MAKING ALL THE CSV FILES
finaldf = pd.DataFrame()
directory = "/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Flanking_Subsurface_A/CTD_CSVs"  #change last directory

for filename in os.listdir(directory):
    fullpath = os.path.join(directory, filename)
    if os.path.isfile(fullpath) and fullpath.endswith(".csv"):
        dfchild = pd.read_csv(fullpath,usecols=[0,8])
        #define columns you want to explort
        dfmaster = dfchild

        #new line you need to edit the titles in the excle file yourself this prints columns side by side
        # So with the data I used there were instruments from 10 meters to 2400 meter depth 
        #this takes the columns of the converted CSV files in the output directory and places them side by side in order

        finaldf = pd.concat([finaldf, dfmaster],axis = 1)
    print(dfmaster.reset_index(drop=True))
    finaldf.to_csv("/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Flanking_Subsurface_A/CTD_CSVs/pressure_A_CTD_surface.csv", index=False)

             obs  ctdmo_seawater_pressure
0     2014-09-16              2741.257083
1     2014-09-17              2765.777949
2     2014-09-18              2765.773540
3     2014-09-19              2765.821056
4     2014-09-20              2765.907941
...          ...                      ...
1792  2019-08-06              2771.786520
1793  2019-08-07              2771.696255
1794  2019-08-08              2771.696583
1795  2019-08-09              2771.696536
1796  2019-08-10              2771.624759

[1797 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12                21.237242
1     2014-09-13                17.957062
2     2014-09-14                19.001927
3     2014-09-15                16.862922
4     2014-09-16                16.622470
...          ...                      ...
1806  2019-08-07                33.785582
1807  2019-08-08                33.823667
1808  2019-08-09                33.783115
1809  2019-08-10                33.788543
1810  2019-08-11                33.827411

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12                32.706222
1     2014-09-13                29.626990
2     2014-09-14                30.592824
3     2014-09-15                28.493608
4     2014-09-16                28.261004
...          ...                      ...
1806  2019-08-07                44.379618
1807  2019-08-08                44.464002
1808  2019-08-09                44.395381
1809  2019-08-10                44.397452
1810  2019-08-11                44.462081

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12                52.375360
1     2014-09-13                49.828057
2     2014-09-14                50.775133
3     2014-09-15                48.716631
4     2014-09-16                48.466315
...          ...                      ...
1806  2019-08-07                64.475985
1807  2019-08-08                64.518596
1808  2019-08-09                64.480451
1809  2019-08-10                64.484575
1810  2019-08-11                64.568841

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12                81.643209
1     2014-09-13                80.110778
2     2014-09-14                81.039114
3     2014-09-15                79.022648
4     2014-09-16                78.761052
...          ...                      ...
1806  2019-08-07                94.862407
1807  2019-08-08                94.897758
1808  2019-08-09                94.874120
1809  2019-08-10                94.871424
1810  2019-08-11                94.877442

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12               120.454826
1     2014-09-13               120.674958
2     2014-09-14               121.598069
3     2014-09-15               119.616303
4     2014-09-16               119.343289
...          ...                      ...
1806  2019-08-07               135.362835
1807  2019-08-08               135.408996
1808  2019-08-09               135.380486
1809  2019-08-10               135.377845
1810  2019-08-11               135.392262

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12               168.342624
1     2014-09-13               171.307789
2     2014-09-14               172.194800
3     2014-09-15               170.252087
4     2014-09-16               169.981899
...          ...                      ...
1806  2019-08-07               185.954271
1807  2019-08-08               185.993384
1808  2019-08-09               185.971781
1809  2019-08-10               185.968459
1810  2019-08-11               185.993289

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12               234.590944
1     2014-09-13               242.252266
2     2014-09-14               243.115244
3     2014-09-15               241.218629
4     2014-09-16               240.945328
...          ...                      ...
1806  2019-08-07               256.891925
1807  2019-08-08               256.926579
1808  2019-08-09               256.913487
1809  2019-08-10               256.912049
1810  2019-08-11               256.920139

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12               327.707683
1     2014-09-13               343.377040
2     2014-09-14               344.130895
3     2014-09-15               342.322828
4     2014-09-16               342.081416
...          ...                      ...
1806  2019-08-07               357.808467
1807  2019-08-08               357.867138
1808  2019-08-09               357.827098
1809  2019-08-10               357.830410
1810  2019-08-11               357.870438

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12               465.976329
1     2014-09-13               494.796418
2     2014-09-14               495.494004
3     2014-09-15               493.804998
4     2014-09-16               493.559180
...          ...                      ...
1806  2019-08-07               510.430620
1807  2019-08-08               510.500001
1808  2019-08-09               510.456803
1809  2019-08-10               510.455842
1810  2019-08-11               510.542153

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12               715.450724
1     2014-09-13               748.465068
2     2014-09-14               749.142053
3     2014-09-15               747.582572
4     2014-09-16               747.348712
...          ...                      ...
1806  2019-08-07               762.401725
1807  2019-08-08               762.469140
1808  2019-08-09               762.423061
1809  2019-08-10               762.424939
1810  2019-08-11               762.492824

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12               960.892627
1     2014-09-13              1003.824292
2     2014-09-14              1004.399282
3     2014-09-15              1002.968790
4     2014-09-16              1002.782707
...          ...                      ...
1806  2019-08-07              1016.167921
1807  2019-08-08              1016.226349
1808  2019-08-09              1016.188635
1809  2019-08-10              1016.198138
1810  2019-08-11              1016.260407

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12              1427.806547
1     2014-09-13              1503.276465
2     2014-09-14              1503.718898
3     2014-09-15              1502.603791
4     2014-09-16              1502.468317
...          ...                      ...
1806  2019-08-07              1524.383285
1807  2019-08-08              1524.433872
1808  2019-08-09              1524.409147
1809  2019-08-10              1524.417133
1810  2019-08-11              1524.490203

[1811 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12              1649.636410
1     2014-09-13              1712.556178
2     2014-09-14              1712.882186
3     2014-09-15              1711.974859
4     2014-09-16              1711.902280
...          ...                      ...
1802  2019-08-07              1726.148716
1803  2019-08-08              1726.189998
1804  2019-08-09              1726.177756
1805  2019-08-10              1726.189888
1806  2019-08-11              1726.243894

[1807 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12              1945.069939
1     2014-09-13              2019.335302
2     2014-09-14              2019.539535
3     2014-09-15              2018.859189
4     2014-09-16              2018.835178
...          ...                      ...
1802  2019-08-07              2027.005523
1803  2019-08-08              2027.055194
1804  2019-08-09              2027.053284
1805  2019-08-10              2027.066215
1806  2019-08-11              2027.107195

[1807 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12              2244.370953
1     2014-09-13              2325.682940
2     2014-09-14              2325.805771
3     2014-09-15              2325.418076
4     2014-09-16              2325.442267
...          ...                      ...
1802  2019-08-07              2334.222729
1803  2019-08-08              2334.266253
1804  2019-08-09              2334.279315
1805  2019-08-10              2334.280983
1806  2019-08-11              2334.354230

[1807 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12              2552.393825
1     2014-09-13              2634.606104
2     2014-09-14              2634.569067
3     2014-09-15              2634.522920
4     2014-09-16              2634.550376
...          ...                      ...
1802  2019-08-07              2641.974301
1803  2019-08-08              2642.013590
1804  2019-08-09              2642.029772
1805  2019-08-10              2642.043389
1806  2019-08-11              2642.106396

[1807 rows x 2 columns]
             obs  ctdmo_seawater_pressure
0     2014-09-12              2552.393825
1     2014-09-13              2634.606104
2     2014-09-14              2634.569067
3     2014-09-15              2634.522920
4     2014-09-16              2634.550376
...          ...                      ...
1802  2019-08-07              2641.974301
1803  2019-08-08              2642.013590
1804  2019-08-09              2642.029772
1805  2019-08-10              2642.043389
1806  2019-08-11              2642.106396

[1807 rows x 2 columns]

In [ ]:
#Below is some pandas filtiering i did, nothing too important the conversion aspect from Netcdf to csv was the important contributions

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Profiler Mooring/CTD_CSVs/Depth_Profiler_Mooring.csv', sep=",")
df['Diff'] = df['ctdpf_ckl_seawater_pressure'] - df['ctdpf_ckl_seawater_pressure'].shift(1)
df2 = df[df['Diff'] < -0.1]
df3 = df[df['Diff'] >= 0]
select_cols = ['obs', 'lon', 'lat', 'ctdpf_ckl_seawater_pressure', 'ctdpf_ckl_seawater_temperature', 'practical_salinity', 'density']
df2 = df2[select_cols]
df3 = df3[select_cols]
df2.to_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Profiler Mooring/CTD_CSVs/upcast_Depth_Profiler_Mooring.csv', sep=',', index=False)
df3.to_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Profiler Mooring/CTD_CSVs/downcast_Depth_Profiler_Mooring.csv', sep=',', index=False)

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/MLD/Argo_mixedlayers_all_12112019.csv', sep=",")
df = df[df['profiledate'] > 735599.615891218]
df.to_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/MLD/1_1_2014_Argo_mixedlayers_all_12112019.csv', sep=',', index=False)

In [ ]:
#import pandas as pd
#import numpy as np
#df = pd.read_csv('C:\\Users\\truet\OneDrive\Desktop\\014-015.txt',index_col=[2], parse_dates=[0],usecols=[0,1,2,3,4,5,6,7,8], sep=",")
#print (df.index.values.astype('<M8[h]'))

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/MLD/1_1_2014_Argo_mixedlayers_all_12112019.csv', sep=",")
df = df[df['profilelat'] >= 50]
df.to_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/MLD/1_1_2014_lat_50+_Argo_mixedlayers_all_12112019.csv', sep=',', index=False)

In [ ]:
import os
import xarray as xr
import pandas as pd
df = pd.read_csv("/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/MLD/MLD_59.06_60.62_and_neg_37.605_neg_41.505_indiv_argo_floats_1.csv", parse_dates=['Date'], index_col='Date')
#agg = df.resample('M',how='mean')
df.resample('15T').ffill().to_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/MLD/Daily_MLD_59.06_60.62_and_neg_37.605_neg_41.505_indiv_argo_floats.csv')
#T is minutely 15T is every 15 mins

ValueError: ignored