1) Mount Google Drive

import your sample data into df1 and df2
define index that is the timestamp of the observation
upsample hourly data to every minute
join upsampled date to minute frequency data to create df3
you can now compare and contrast as much as you want as it's all in one data frame

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
# MUST MOUNT GOOGLE DRIVE FIRST OR THE CODE WILL NOT RUN
# These are all L2 data products, may add L1 to fill holes

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

2) Install modules / packages needed for operations you're conducting 

*  Google Golab has a lot already pre-installed


*  however if you get an error for say:


> 'dt' is not defined (when you though you imported datetime as dt)

1.   check if your compiler has the module installed
2.   check if you imported the  module to begin with

In [ ]:
pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.12.0)

In [ ]:

pip install datetime

SyntaxError: ignored

3) Sort and fill in Missing Dates

In [ ]:
#daily Avarge script the organizes dates  

#importing important modules 
import os
import xarray as xr
import pandas as pd

# changes the file path to  the particular csv file of intrest. Then your 'Date' column name in excel will be placed in parse_dates=[''] and index_col=''
df = pd.read_csv("/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/MLD/MLD_59.06_60.62_and_neg_37.605_neg_41.505_indiv_argo_floats_1.csv", parse_dates=['Date'], index_col='Date')

#Resamples to daily and saves it as a csv to the file path and name given
df.resample('D').mean().to_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/MLD/Daily_MLD_59.06_60.62_and_neg_37.605_neg_41.505_indiv_argo_floats.csv')

#Make sure you include .csv for both importing and exporting files!

4) Selecting the First of each Month and Axis format (as in  in our case being single chacter months)

In [ ]:
#Selection scripts

import numpy as np
import pandas as pd
import datetime as dt
from time import strptime
# changes the file path to  the particular csv file of intrest
df = pd.read_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Ready to Graph/A/Temp_All_CTD_Flanking_Subsurface_A1.csv',sep = ',',encoding='utf-8-sig',)

# Formating your 'Date' (whatever the Date column name is) to datetime readable format and declaring this column as Date_formated
  # Adds a 'Date_formated' column in the dataframe. This Dataframe we defined is the csv file read into python. 
  # Changes made here do not change the file read in! 
  # For example typing only  df  on a line will populate the defined  dataframe up to the point where you typed df below in the output section
df['Date_formated'] = pd.to_datetime(df['Date'])
# Declaring a Month Column which formats the  word/string repersentation of each month (ie september, october etc) with one character
df['Month'] = pd.to_datetime(df['Date_formated'], format='%m').dt.month_name().str.slice(stop=1)
# The next two lines takes Date_formated and creates a Day_of_Month which repersents only the numeric day of the particular month of intrest
Days = (df['Date_formated']).dt.day
df['Day_of_Month'] = Days
# we set our entire dateframe equal to values of Day_of_Month equaling 1 so to filter the first of each month
df = df[df['Day_of_Month'] == 1]
# a for loop which takes each entery or index (in other python scripts you may see idx)  in Date and prints it in a particular format
for index in df['Date']:
      print("'" + index +"'" + ',', end=" ") # this format is needed for plotly, 

#Think of the loop like this['index(0)',....'index(i)' ] where 0 is our intial value and i is the range or say max value. We loop each value from 0 to i and print each one in the format above
# with end being a space it allows the values to be printed next to eachother

'2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01', '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt
from time import strptime
# changes the file path to  the particular csv file of intrest.
df = pd.read_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Ready to Graph/A/Temp_All_CTD_Flanking_Subsurface_A1.csv',sep = ',',encoding='utf-8-sig',)
df['Date_formated'] = pd.to_datetime(df['Date'])
df['Month'] = pd.to_datetime(df['Date_formated'], format='%m').dt.month_name().str.slice(stop=1)
Days = (df['Date_formated']).dt.day
df['Day_of_Month'] = Days
df = df[df['Day_of_Month'] == 1]

#Same exact code except this loops over the dataframe's  Month column which was defined as single character repersentations of the month so ('O','N',...etc)
for index in df['Month']:
      print("'" + index +"'" + ',', end=" ")

'O', 'N', 'D', 'J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D', 'J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D', 'J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D', 'J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D', 'J', 'F', 'M', 'A', 'M', 'J', 'J', 'A',

5) Ploting Script

In [ ]:
# This example is based on a Temprature Plot created 

import plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as FF
import numpy as np
import pandas as pd
import os
import plotly.io as pio


# Default template
pio.templates.default = "plotly"


if not os.path.exists("images"):
    os.mkdir("images")

#importing our now perfect data, call in the data which was daily resampled (whatever you named it)
df = pd.read_csv('/content/drive/My Drive/Irminger_2020_Project_Colab_Notebooks/Apex_Array/Ready to Graph/A/Temp_All_CTD_Flanking_Subsurface_A1.csv')


#Lines to plot with this varries per file
trace1 = go.Scatter(x=df['Date'], y=df['30m'],  name='30m')
trace2 = go.Scatter(x=df['Date'], y=df['40m'],  name='40m')
trace3 = go.Scatter(x=df['Date'], y=df['60m'],  name='60m')
trace4 = go.Scatter(x=df['Date'], y=df['90m'],  name='90m')
trace5 = go.Scatter(x=df['Date'], y=df['130m'],  name='130m')
trace6 = go.Scatter(x=df['Date'], y=df['180m'],  name='180m')
trace7 = go.Scatter(x=df['Date'], y=df['250m'],  name='250m')



# Plot layout, this is how plotly is organized
layout = go.Layout(title={ 
                           'y':0.92,
                           'x':0.18,
                           'xanchor': 'center',
                           'yanchor': 'top'}, 
                   
                   # Change title for plot of intrest
                   title_text = 'Plot Title',
                   #RGB color space or RGB color system is used in plotly. It constructs all the colors from the combination of the Red, Green and Blue colors.
                  plot_bgcolor='rgb(255, 255, 255)',  
                   # With showing the legend all you need to do is set it to true or false               
                      showlegend=True,
                   #position legend horizontally, i think v makes it vertical but you can literally google 'legend_orientation' to figure this out
                     legend_orientation="h",
                   
                # wanting to define what font we want to use. You can mess with this later if you want to fine tune it (same with anything within this script)
                  font=dict(
                          family="Avenir, monospace",
                          size=22,
                         color="#000000"),
                         
                         
                         # This defines the hight and width of our plot. Notice from 2014 -2019 needs  a wide plot. You should play with this for your particular data. Hopefully with your OOI data your date range is similar so you only need to copy paste this without editing it again
                         height=500,
                         width=2000,
                   
                   
                     xaxis=dict(
                         # Change title for x variable of intrest
                         title_text = 'Date',
                         tickmode = 'array',
                         # Copy filtered Months to ticktext and tickvals. I would ctrl+c above then highlight and ctrl+v to replace text within the contents.  
                         ticktext = ('O', 'N', 'D', 'J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D', 'J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D', 'J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D', 'J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D', 'J', 'F', 'M', 'A', 'M', 'J', 'J', 'A'), 
                         tickvals=('2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01', '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01'),    
                           #color of the gridlines associated to the x axis          
                          gridcolor= 'rgb(125, 125, 125)',
                        
                     ),
                   
                  
                 yaxis=dict(
                      # Change title for y variable of intrest
                     title_text = 'Temperature (°C)',
                        tickmode = 'array',
                        # the range of values we use
                        range=[3,10],
                        # defines what is shown on the y axis
                        tickvals = ('3','4','5','6','7','8','9','10'),
                        #color of the gridlines associated to the y axis 
                        gridcolor= 'rgb(125, 125, 125)', 
                              
                     
                        
               title_standoff = 0          

               ),
          
            
)
                   



#Change to trace amount
fig = go.Figure(data=[trace1, trace2, trace3, trace4, trace5, trace6, trace7], layout=layout)


# Change to years specific to data useing

fig.add_shape(
        # Line Vertical
        dict(
            type="line",
            x0='2015-01-01',
            y0=0,
            x1='2015-01-01',
            y1=10,
             layer="below",
            line=dict(
                color="rgb(125, 125, 125)",
                width=5)
            
        ))

fig.add_shape(
        # Line Vertical
        dict(
            type="line",
            x0='2016-01-01',
            y0=0,
            x1='2016-01-01',
            y1=10,
             layer="below",
            line=dict(
                color="rgb(125, 125, 125)",
                width=5)
            
        ))

fig.add_shape(
        # Line Vertical
        dict(
            type="line",
            x0='2017-01-01',
            y0=0,
            x1='2017-01-01',
            y1=10,
             layer="below",
            line=dict(
                color="rgb(125, 125, 125)",
                width=5)
            
        ))

fig.add_shape(
        # Line Vertical
        dict(
            type="line",
            x0='2018-01-01',
            y0=0,
            x1='2018-01-01',
            y1=10,
             layer="below",
            line=dict(
                color="rgb(125, 125, 125)",
                width=5)
            
        ))
fig.add_shape(
        # Line Vertical
        dict(
            type="line",
            x0='2019-01-01',
            y0=0,
            x1='2019-01-01',
            y1=10,
             layer="below",
            line=dict(
                color="rgb(125, 125, 125)",
                width=5)
            
        ))



# Adds rectangle around plot, change values specific to your data

fig.add_shape(
        # unfilled Rectangle
            type="rect",
            x0='2014-09-12',
            y0=3.06,
            x1='2019-08-09',
            y1=9.94,
            line=dict(
                 color="rgb(100, 100, 100)",
                 width=6.5
            ),)


# Makes legend item size larger
fig.update_layout(legend= {'itemsizing': 'constant'})


fig.show()

In [ ]:
import re, time, random 
import pandas as pd

data = '''Date          pressure    temperature          density
9/12/2014 9:00     170            4.0                1028
9/12/2014 10:00    368            4.2                1028.5'''
da = [[i for i in re.split("[ ][ ]+", l)] for l in data.split("\n")]
df2 = pd.DataFrame(da[1:], columns=da[0])
data='''Date        pressure      temperature           density
9/12/2014 9:00  177.859887      4.574663842         1028.477
9/12/2014 9:01  214.3598333     4.397781667         1028.66
9/12/2014 9:02  264.5863333     4.208137222         1028.905
9/12/2014 10:00  314.3161111     4.1242              1029.143
9/12/2014 10:01  363.8005587     4.02983352          1029.377'''
da = [[i for i in re.split("[ ][ ]+", l)] for l in data.split("\n")]
df1 = pd.DataFrame(da[1:], columns=da[0])

df1.index = pd.to_datetime(df1.Date, format="%d/%m/%Y %H:%M", utc=True)
df2.index = pd.to_datetime(df2.Date, format="%d/%m/%Y %H:%M", utc=True)
df3 = df1.join(df2.resample("1min").pad(), rsuffix="_hourly")
df3

                                      Date  ... density_hourly
Date                                        ...
2014-12-09 09:00:00+00:00   9/12/2014 9:00  ...           1028
2014-12-09 09:01:00+00:00   9/12/2014 9:01  ...           1028
2014-12-09 09:02:00+00:00   9/12/2014 9:02  ...           1028
2014-12-09 10:00:00+00:00  9/12/2014 10:00  ...         1028.5
2014-12-09 10:01:00+00:00  9/12/2014 10:01  ...            NaN

[5 rows x 8 columns]